In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'

In [6]:
import pymysql
import numpy as np
import pandas as pd
from pandas import DataFrame

In [13]:
conn=pymysql.connect(host="localhost",port=3307,user="root",password="root",db="python_text")

In [14]:
a=conn.cursor()

In [15]:
sql="select * from classes;"

In [16]:
a.execute(sql)

6

In [17]:
data=a.fetchall()
data

((1, 'java'), (2, 'python'), (3, '.net'), (4, 'c#'), (5, 'php'), (6, 'UI'))

In [24]:
type(data)

tuple

In [25]:
df=pd.read_sql(sql,conn)
df

   idclasses classesname
0          1        java
1          2      python
2          3        .net
3          4          c#
4          5         php
5          6          UI

In [26]:
#多少行，多少列
df.shape

(6, 2)