In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'

In [6]:
import pymysql
import numpy as np
import pandas as pd
from pandas import DataFrame

In [13]:
conn=pymysql.connect(host="localhost",port=3307,user="root",password="root",db="python_text")

In [14]:
a=conn.cursor()

In [15]:
sql="select * from classes;"

In [42]:
a.execute(sql)

6

In [43]:
data=a.fetchall()
data
type(data)

((1, 'java'), (2, 'python'), (3, '.net'), (4, 'c#'), (5, 'php'), (6, 'UI'))

tuple

In [46]:
data[0]
data[0][0]
data[0][1]

(1, 'java')

1

'java'

In [25]:
df=pd.read_sql(sql,conn)
df

   idclasses classesname
0          1        java
1          2      python
2          3        .net
3          4          c#
4          5         php
5          6          UI

In [26]:
#多少行，多少列
df.shape

(6, 2)

In [29]:
for row in data:
    print(row)
    idclasses=row[0]
    classesname=row[1]
    print("班级是%s班,课程是%s" %(idclasses,classesname))

(1, 'java')
班级是1班,课程是java
(2, 'python')
班级是2班,课程是python
(3, '.net')
班级是3班,课程是.net
(4, 'c#')
班级是4班,课程是c#
(5, 'php')
班级是5班,课程是php
(6, 'UI')
班级是6班,课程是UI